@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 25px;
  bottom: 20px;
  right: 20px;
  background: #B53071;
  border-radius: 50%;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 8px 16px;
  background: #B53071;
  border: 1.5px solid #B53071;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  transition: 0.4s;
}

.btn:hover {
  color: #B53071;
  background: white;
}

.subtitle {
  font-size: 20px;
  line-height: 24px;
  color: #2E2594;
}

.title {
  font-size: 58px;
  line-height: 68px;
  color: black;
}

.desc {
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.show__back-top {
  display: flex;
}

body {
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}

.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px #13097e;
  background: white;
}

.header__nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: #2E2594;
}

.header__nav__right,
.header__nav__right__list,
.header__nav__right__btns {
  gap: 40px;
}

.header__nav__right__list__item {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  transition: 0.5s;
  color: #2E2594;
}

.header__nav__right__list__item:hover {
  color: #13097e;
  font-weight: 800;
}

.header__nav__right__list__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: red;
  display: none;
}

.header__nav__right__btns__hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.header__nav__right__btns__hamburger span {
  width: 20px;
  height: 2.5px;
  background: #2E2594;
  border-radius: 2px;
  transition: 0.4s;
}

.header__nav__right__btns__hamburger:hover .header__nav__right__btns__hamburger__line {
  background: #13097e;
}

.header__nav__right__btns__dark-mode {
  border: none;
  background: transparent;
  color: black;
  font-size: 18px;
}

.header__nav__right__btns__dark-mode .fa-sun {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-moon {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-sun {
  display: block;
}

@media (max-width: 800px) {
  .header__nav__right__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 15px #13097e;
    transition: 0.3s;
    z-index: 9999;
  }
  .header__nav__right__btns {
    gap: 10px;
  }
  .header__nav__right__btns__hamburger {
    display: flex;
  }
  .show__header__nav__right__list {
    left: 0;
  }
  .header__nav__right__list__close {
    display: block;
  }
}
#hero {
  padding-top: 100px;
}

.shop {
  padding: 90px 0;
  background: url(../images/shop/shop_back.svg) no-repeat center;
  background-size: cover;
}
.shop .shop__top {
  display: flex;
  gap: 50px;
}
.shop .shop__top__left {
  width: calc(60% - 25px);
}
.shop .shop__top__left__title {
  padding: 30px 0;
}
.shop .shop__top__right {
  width: calc(40% - 25px);
  display: flex;
  gap: 20px;
  align-items: center;
}
.shop .shop__top__right__img {
  width: calc(40% - 10px);
}
.shop .shop__top__right__img img {
  width: 100%;
}
.shop .shop__top__right__infos {
  width: calc(60% - 10px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.shop .shop__top__right__infos__title {
  font-size: 28px;
  list-style: 38px;
  color: #2E2594;
}
.shop .shop__top__right__infos__stars {
  display: flex;
  gap: 10px;
  align-items: center;
}
.shop .shop__top__right__infos__stars span {
  font-size: 18px;
  list-style: 24px;
  color: #2E2594;
}
.shop .shop__top__right__infos__price {
  display: flex;
  gap: 20px;
}
.shop .shop__top__right__infos__price span:nth-child(1) {
  font-size: 24px;
  line-height: 24px;
  color: #B53071;
}
.shop .shop__top__right__infos__price span:nth-child(2) {
  font-size: 24px;
  line-height: 24px;
  color: black;
  opacity: 0.5;
  text-decoration: line-through;
}
.shop .shop__top__right__infos__btn {
  max-width: 200px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.shop .shop__top__right__infos__btn img {
  width: 20%;
}
@media (max-width: 1200px) {
  .shop .shop__top__left__title {
    font-size: 45px;
    line-height: 45px;
  }
  .shop .shop__top__left__desc {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1100px) {
  .shop .shop__top__right__infos__title {
    font-size: 24px;
    list-style: 28px;
  }
  .shop .shop__top__right__infos__price {
    display: flex;
    gap: 20px;
  }
  .shop .shop__top__right__infos__price span:nth-child(1) {
    font-size: 20px;
    line-height: 20px;
  }
  .shop .shop__top__right__infos__price span:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 990px) {
  .shop .shop__top__left,
  .shop .shop__top__right {
    width: calc(50% - 25px);
  }
  .shop .shop__top__left__title {
    font-size: 30px;
    line-height: 30px;
  }
  .shop .shop__top__left__desc {
    font-size: 14px;
    line-height: 18px;
  }
  .shop .shop__top__left__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 900px) {
  .shop .shop__top__right__infos__title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 800px) {
  .shop .shop__top {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
  }
  .shop .shop__top__left,
  .shop .shop__top__right {
    width: 90%;
  }
}
@media (max-width: 430px) {
  .shop .shop__top__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .shop .shop__top__right__img,
  .shop .shop__top__right__infos {
    width: 90%;
  }
  .shop .shop__top__left__title {
    padding: 15px 0;
  }
  .shop .shop__top__right__img img {
    width: 90%;
  }
}