@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 25px;
  bottom: 20px;
  right: 20px;
  background: #B53071;
  border-radius: 50%;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 8px 16px;
  background: #B53071;
  border: 1.5px solid #B53071;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  transition: 0.4s;
}

.btn:hover {
  color: #B53071;
  background: white;
}

.subtitle {
  font-size: 20px;
  line-height: 24px;
  color: #2E2594;
}

.title {
  font-size: 58px;
  line-height: 68px;
  color: black;
}

.desc {
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.show__back-top {
  display: flex;
}

body {
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}

.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px #13097e;
  background: white;
}

.header__nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: #2E2594;
}

.header__nav__right,
.header__nav__right__list,
.header__nav__right__btns {
  gap: 40px;
}

.header__nav__right__list__item {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  transition: 0.5s;
  color: #2E2594;
}

.header__nav__right__list__item:hover {
  color: #13097e;
  font-weight: 800;
}

.header__nav__right__list__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: red;
  display: none;
}

.header__nav__right__btns__hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.header__nav__right__btns__hamburger span {
  width: 20px;
  height: 2.5px;
  background: #2E2594;
  border-radius: 2px;
  transition: 0.4s;
}

.header__nav__right__btns__hamburger:hover .header__nav__right__btns__hamburger__line {
  background: #13097e;
}

.header__nav__right__btns__dark-mode {
  border: none;
  background: transparent;
  color: black;
  font-size: 18px;
}

.header__nav__right__btns__dark-mode .fa-sun {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-moon {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-sun {
  display: block;
}

@media (max-width: 800px) {
  .header__nav__right__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 15px #13097e;
    transition: 0.3s;
    z-index: 9999;
  }
  .header__nav__right__btns {
    gap: 10px;
  }
  .header__nav__right__btns__hamburger {
    display: flex;
  }
  .show__header__nav__right__list {
    left: 0;
  }
  .header__nav__right__list__close {
    display: block;
  }
}
#hero {
  padding: 80px 0;
  background: pink;
}

.hero__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero__title__games {
  color: #B53071;
}

.hero__title__enjoy {
  color: green;
  font-size: 40px;
  transform: rotateY(45deg);
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero__btn__triller {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  font-weight: 400;
  transition: 0.5s;
}

.hero__btn__triller:hover {
  color: #13097e;
  font-weight: 600;
  text-decoration: underline;
}

.hero__right {
  width: 45%;
}

.hero__right img {
  width: 100%;
}

.hero__right__frame {
  width: 187px;
  height: 84px;
}

.hero__right__frame__left {
  width: 75%;
}

.hero__right__frame__left img {
  width: 100%;
}

#stremer {
  padding: 100px 0;
  background: url(../images/stremer/stream-bg-main.png) no-repeat center;
  background-size: cover;
}

.stremer__top {
  text-align: center;
}
.stremer__top__subtitle {
  padding-bottom: 30px;
}
.stremer__top__title span {
  color: #B53071;
  padding-bottom: 11px;
  border-bottom: 3px solid;
}
.stremer__bottom {
  padding-top: 60px;
}
.stremer__bottom__item img {
  width: 100px;
  height: 100px;
  padding: 125px 235px;
  background: url(../images/stremer/stremer-1.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 1050px) {
  .stremer .stremer__top__title {
    font-size: 40px;
  }
  .stremer .stremer__bottom__item img {
    padding: 100px 200px;
  }
}
@media (max-width: 600px) {
  .stremer .stremer__top__subtitle {
    font-size: 18px;
    line-height: 18px;
  }
  .stremer .stremer__top__title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 600px) {
  .stremer .stremer__top__subtitle {
    font-size: 16px;
  }
  .stremer .stremer__top__title {
    font-size: 25px;
  }
  .stremer .stremer__bottom__item img {
    padding: 80px 150px;
  }
}

#gamer {
  padding: 100px 0;
  background: url(../images/gamer/photo_2024-02-28_16-26-41.jpg) no-repeat center;
  background-size: cover;
}

.gamer__top {
  text-align: center;
}
.gamer__top__title {
  display: inline-block;
  padding-top: 30px;
  color: #5000b9;
  border-bottom: 3px solid #5000b9;
}
.gamer__top__title span {
  color: #B53071;
}
.gamer__bottom__item {
  padding-top: 40px;
  gap: 40px;
}
.gamer__bottom__item__left {
  width: 40%;
}
.gamer__bottom__item__left img {
  width: 100%;
}
.gamer__bottom__item__right {
  width: 50%;
}
.gamer__bottom__item__right__desc {
  padding: 30px 0;
  color: #332B5C;
}
.gamer__bottom__item__right__avtor h3 {
  color: #B53071;
  line-height: 30px;
}
.gamer__bottom__item__right__avtor p {
  color: #332B5C;
  line-height: 30px;
}
@media (max-width: 700px) {
  .gamer__top__title {
    font-size: 40px;
  }
  .gamer__bottom__item {
    flex-direction: column;
  }
  .gamer__bottom__item__left {
    width: 50%;
  }
  .gamer__bottom__item__right {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .gamer__top__subtitle {
    font-size: 16px;
  }
  .gamer__top__title {
    font-size: 30px;
    line-height: 20px;
  }
  .gamer__bottom__item {
    flex-direction: column;
  }
  .gamer__bottom__item__left {
    width: 90%;
  }
  .gamer__bottom__item__right {
    width: 100%;
  }
}