* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
}

.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-top {
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 25px;
    bottom: 20px;
    right: 20px;
    background: $backgroundColor;
    border-radius: 50%;
    color: $secondaryColor;
    display: none;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 8px 16px;
    background: $backgroundColor;
    border: 1.5px solid $backgroundColor;
    font-size: 16px;
    color: $secondaryColor;
    border-radius: 20px;
    transition: 0.4s;
}
.btn:hover {
    color: $backgroundColor;
    background: $secondaryColor;
}

.subtitle{
    font-size: 20px;
    line-height: 24px;
    color: $primaryColor;
}

.title{
    font-size: 58px;
    line-height: 68px;
    color: $blackColor;
}

.desc {
    font-size: 18px;
    line-height: 24px;
    color: $blackColor;
}

.show__back-top {
    display: flex;
}